# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Plugin export
/** export-ignore

/addons !export-ignore
/addons/** !export-ignore

/script_templates !export-ignore
/script_templates/** !export-ignore
